<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Register</div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="userName"
            />
            <span
              class="error-block"
              *ngIf="!userName.valid && (userName.touched || userSubmitted)"
            >
              Name cannot be blank
            </span>
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" />
            <span
              class="error-block"
              *ngIf="!email.valid && (email.touched || userSubmitted)"
            >
              <span *ngIf="email.hasError('required')">
                Email is required
              </span>
              <span *ngIf="email.hasError('email')">
                Please provide valid email address
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
            <span
              class="error-block"
              *ngIf="!password.valid && (password.touched || userSubmitted)"
            >
              <span *ngIf="password.hasError('required')"
                >Password is required</span
              >
              <span *ngIf="password.errors['minlength']">
                Password must be 8 charactors or more</span
              >
            </span>
          </div>

          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
            />
            <span
              class="error-block"
              *ngIf="
                !confirmPassword.valid &&
                (confirmPassword.touched || userSubmitted)
              "
            >
              <span *ngIf="confirmPassword.hasError('required')"
                >Password is required</span
              >
            </span>
            <span
              class="error-block"
              *ngIf="
                registrationForm.hasError('notmatched') && confirmPassword.valid
              "
            >
              Password must match
            </span>
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" formControlName="mobile" />
            <span
              class="error-block"
              *ngIf="!mobile.valid && (mobile.touched || userSubmitted)"
            >
              Mobile number is required
            </span>
          </div>

          <div class="form-group col-12 mt-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary mx-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
